nav {
  padding: 10px;
  font-size: 1.5rem;
  font-weight: 600;
  font-family: Georgia, serif;
  display: flex;
  justify-content: space-between;
  text-align: center;
  background-color: #62a5a1;

  .navRight {
    margin: 10px;
  }

  .title {
    color: #fff;
    font-family: Georgia, serif;
    text-decoration: none;
    margin: 10px;
  }

  a.menu {
    margin: 10px;
    text-decoration: none;
    color: #fff;
  }
}

footer {
  height: 2rem;
  margin-top: 2rem;
  position: absolute;
  bottom: auto;
  width: 100%;
}
