<div class="detailwrap">
  <div class="carddetail" *ngIf="recipe">
    <h3 class="cardtitle">{{recipe[0].label}}</h3>
    <img class="detailimg" alt="Image of {{recipe[0].label}}" src="{{recipe[0].image}}">
    <div class="recipedetail">
      <p>Ingredients:</p>
      <p><span>{{recipe[0].ingredientLines}}</span></p>
      <p>Total Calories:</p>
      <p><span>{{recipe[0].calories}}</span></p>
      <p>Health Labels:</p>
      <p><span>{{recipe[0].healthLabels}}</span></p>

      <button class="add" [disabled]="clicked" (click)="saveRecipe(); clicked = true;">Add To
        Favorites</button>
      <button class="add" (click)="goToRecipes()">Go Backaaaa</button>
    </div>
  </div>
</div>