.detailwrap {
  color: #3d4645;

  h3 {
    padding: 10px;
    font-size: 2.4rem;
  }

  h2 {
    color: #62a5a1;
    padding: 20px;
  }

  .carddetail {
    width: 60%;
    margin: auto;
    background-color: #fff;
    margin-top: 50px;
    border-color: #62a5a1;
    border-style: double;
    border-radius: 6px;
    padding: 5px;

    img {
      width: 40%;
    }

    .recipedetail {
      padding-bottom: 30px;
      margin: 20px;
    }

    .add {
      padding: 10px 30px;
      cursor: pointer;
      border-radius: 6px;
      background-color: #62a5a1;
      font-size: 1.4rem;
      border: none;
      color: #ffff;
      margin-right: 20px;
      margin-top: 30px;
    }

    p {
      text-align: start;
      padding-left: 30px;
      color: #62a5a1;
      font-size: 2rem;

      span {
        color: black;
        font-size: 1.7rem;
      }
    }
  }

  .recipebtn {
    padding: 10px 30px;
    cursor: pointer;
    border-radius: 4px;
    background-color: #62a5a1;
    font-size: 16px;
    border: none;
    color: #ffff;
    margin-top: 20px;
  }
}

@media screen and (max-width: 500px) {
  .detailwrap {
    width: 100%;
    margin: auto;

    .carddetail {
      width: 95%;
      margin-top: 25px;

      .detailimg {
        width: 95%;
      }
    }

    .recipedetail {
      margin: 0px;
      padding-bottom: 0px;

      p {
        padding-left: 0px;
      }

      .add {
        margin-top: 15px;
      }
    }
  }
}

@media (min-width: 760px) and (max-width: 1024px) {
  .detailwrap {
    width: 100%;

    .carddetail {
      width: 90%;
    }
  }
}
