.title {
  font-size: 2rem;
  margin-top: 2.5rem;
  margin-bottom: 2rem;
  text-decoration: underline;
  color: #62a5a1;
}

p {
  font-size: 1.7rem;
}


.wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 85%;
  margin: auto;
  justify-content: center;
}

.card {
  background-color: #fff;
  margin-top: 2.5rem;
  flex: 0 19%;
  border-style: double;
  margin-left: 5px;
  margin-right: 5px;
  -moz-box-shadow: 3px 3px 5px 6px #ccc;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  box-shadow: 3px 3px 5px 6px #ccc;

  img {
    width: 100%;
    padding: 10px;
  }

  .cardtitle {
    color: #62a5a1;
    padding-bottom: 15px;
    padding: 2px 2px 10px 2px;
    font-size: 1.7rem;
    padding-top: 10px;
  }

  .btn {
    font-size: 1.5rem;
    margin-top: 5px;
  }
}

@media screen and (max-width: 500px) {
  .wrapper {
    width: 95%;

    .card {
      flex: 0 100%;
      margin-left: 0px;

      button {
        margin-top: 10px;
      }
    }
  }
}

@media (min-width: 760px) and (max-width: 1024px) {
  .card {
    flex: 0 29%;
  }
}
