.wrap {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  font-size: 18px;

  .wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    width: 75%;
    margin: auto;
  }

  .card {
    background-color: #f7f7f7;
    margin-top: 50px;
    flex: 0 26%;
    border-color: #3b3b3b;
    border-style: double;
    border-radius: 6px;

    .cardtitle {
      color: #10413e;
    }
  }

  .form-control {
    width: 200px;
    height: 31px;
    font-size: 1.1rem;
    padding-left: 0.5rem;
  }

  .recipebtn {
    padding: 10px 30px;
    cursor: pointer;
    border-radius: 1px;
    background-color: lightseagreen;
    font-size: 16px;
    border: none;
  }
}
