.wrap {
  font-family: Georgia, serif;
  margin: 0;
  padding: 0;
  font-size: 18px;
  padding: 15px;

  .wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    width: 75%;
    margin: auto;
  }

  .card {
    background-color: #fff;
    margin-top: 50px;
    flex: 0 26%;
    border-color: #62a5a1;
    border-style: double;
    border-radius: 6px;

    .cardtitle {
      color: #62a5a1;
    }

    a {
      text-decoration: none;
    }
  }

  .form-control {
    width: 200px;
    height: 31px;
    font-size: 1.1rem;
    padding-left: 0.5rem;
  }

  .recipebtn {
    padding: 10px 30px;
    cursor: pointer;
    border-radius: 1px;
    background-color: #62a5a1;
    font-size: 16px;
    border: none;
    color: #ffff
  }
}
